<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96000048391-sahbf82c9hm2c14s5446lun6erdhmjsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96000048391-sahbf82c9hm2c14s5446lun6erdhmjsa</string>
	<key>API_KEY</key>
	<string>AIzaSyDjHOSB30oUCebKMSyrYoOQGkwHlOCmN4A</string>
	<key>GCM_SENDER_ID</key>
	<string>96000048391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swift.learn.access</string>
	<key>PROJECT_ID</key>
	<string>swift-access-58c10</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-access-58c10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96000048391:ios:3698c4762b9bb48a0819a2</string>
</dict>
</plist>